.news {
    margin-bottom: 80px;
}

.news-list {
    display: flex;
    justify-content: space-between;
}

.news-item {
    width: 32%;
    border-radius: 5px;
    overflow: hidden;
    transition: .2s;

    &:hover {
        opacity: .8;
        color: rgba(0, 0, 0, 0.76);
    }

    & img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    & span {
        font-weight: 600;
        color: #136ef6;
    }

    & p {
        margin-top: 10px;
        font-weight: 600;
    }
}