@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap"); /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  font-size: 16px;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Grid styles */
.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.header-auth a {
  padding: 5px;
  border: 1px solid #007DEA;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header-auth a:hover {
  background-color: #6d757d;
  color: #fff;
  border: 1px solid #6d757d;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  width: 100%;
}

.header-content-row {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.header-button {
  margin-top: 40px;
  font-weight: 600;
  color: #fff !important;
  padding: 10px;
  background-color: #136ef6;
  border: 1px solid #136ef6;
  border-radius: 5px;
}
.header-button:hover {
  color: #000 !important;
  border: 1px solid #136ef6;
  background-color: unset;
}

.news {
  margin-bottom: 80px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-item {
  width: 32%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.news-item:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.76);
}
.news-item img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.news-item span {
  font-weight: 600;
  color: #136ef6;
}
.news-item p {
  margin-top: 10px;
  font-weight: 600;
}

.courses {
  margin-bottom: 80px;
}

.subtitle {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  max-height: 390px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1725490196);
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}
.card-item p {
  margin-bottom: 10px;
  margin-right: 10px;
}
.card-item:hover {
  opacity: 0.8;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #0d6efd !important;
}
.card-button::after {
  content: url(../img/icon/right-arrow.png);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.card-button.edit {
  color: #15c70f !important;
}
.card-button.delete {
  color: #b30710 !important;
}

.card-img {
  position: relative;
  top: -120px;
  right: -231px;
  width: 175px;
  height: 150px;
}

.contacts {
  width: 100%;
  border-radius: 10px;
  background-color: #136ef6;
  color: #fff;
  padding: 40px;
  margin-bottom: 80px;
}
.contacts p {
  font-size: 18px;
  margin-bottom: 20px;
}
.contacts .contacts-title {
  margin-bottom: 20px;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.contacts-input {
  padding: 12px;
  border-radius: 10px;
}

.docs {
  margin-bottom: 60px;
}

.docs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.docs-row {
  padding: 20px;
  border: 1px solid #136ef6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.docs-row img {
  width: 30%;
}
.docs-row:hover {
  opacity: 0.8;
}

.docs-row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.docs-title {
  font-size: 18px;
  font-weight: 600;
}

.footer {
  border-top: 1px solid #e9ecef;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-column {
  width: 30%;
}

.footer-ul {
  margin-top: 20px;
}

.footer-ul li {
  margin-bottom: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer-ul li:hover {
  opacity: 0.8;
}

.socials-icon {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.profile-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 40px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  margin-bottom: 30px;
  width: 500px;
}
.profile p {
  margin-bottom: 1rem;
}

.pofile-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.pofile-subtitle {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.profile-link {
  color: #0066FF !important;
  font-weight: 500;
  text-decoration: underline;
}

.profile-button {
  width: 140px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #0066FF;
  color: #fff !important;
  margin-bottom: 1rem;
}

.lms li {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.lms-title {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #cccccc;
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.lms-subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.lms-warning {
  margin-bottom: 40px;
}

.lms-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.lms-link p {
  color: #136ef6;
  text-decoration: underline;
}

.lms-button {
  color: #fff !important;
  margin-bottom: 40px;
}

.curator-title {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #cccccc;
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.sports {
  margin-bottom: 80px;
}

.courses {
  margin-bottom: 80px;
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  max-height: 390px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1725490196);
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}
.card-item p {
  margin-bottom: 10px;
}
.card-item:hover {
  opacity: 0.8;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #0d6efd;
}
.card-button::after {
  content: url(assets/img/icon/right-arrow.png);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.card-img {
  position: relative;
  top: -120px;
  right: -231px;
  width: 175px;
  height: 150px;
}

.page {
  padding-left: 320px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 30px;
  font-size: 14px;
}

.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2666666667);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.logo-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2666666667);
  margin-bottom: 20px;
}
.logo-sidebar img {
  max-width: 25%;
}
.logo-sidebar p {
  font-size: 18px;
  font-weight: 600;
}

.sidbar-group-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #4b5563;
}

.sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 5px;
  margin-bottom: 10px;
  color: #4b5563;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.sidebar-item:hover {
  border-left: 5px solid #0066FF;
  color: #0066FF;
}
.sidebar-item img {
  width: 20px;
  height: 20px;
}
.sidebar-item.users:hover {
  border-left: 5px solid #228B22;
  color: #228B22;
}
.sidebar-item.groups:hover {
  border-left: 5px solid #FF4500;
  color: #FF4500;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(75, 85, 99, 0.2470588235);
}

::-webkit-scrollbar-thumb {
  background-color: #0066FF;
  border-radius: 50px;
}

.form {
  margin: 0 auto;
  margin-bottom: 20px;
  z-index: 3;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 599px) {
  .form {
    padding-top: 50px;
  }
}

.form-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}

.form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.form-fields.create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
}
@media (max-width: 500px) {
  .form-fields.create {
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form-fields.edits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .form-fields.edits {
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 500px) {
  .form-fields {
    font-size: 12px;
    width: 100%;
  }
}

.form-fields__row {
  width: 50%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .form-fields__row {
    width: 100%;
  }
}

.form-fields__row p {
  font-size: 18px;
  text-align: center;
  color: #383838;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 20px;
}

label {
  color: rgba(0, 0, 0, 0.8392156863);
}

input {
  height: 45px;
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
  border: 2px solid rgba(172, 172, 172, 0.4901960784);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
input:last-child {
  margin-bottom: 0;
}

textarea {
  font-size: 16px;
  line-height: 1.3;
  padding: 5px;
  border: 2px solid #136ef6;
  border-radius: 5px;
  height: 50px;
}

.form-fields__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
}

.form-button a {
  font-size: 18px;
}

.form-button span {
  opacity: 0.8;
}

.button {
  border: 1px solid #136ef6;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #136ef6;
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.form-select-wrapper.edit-select {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}
.form-select-wrapper.edit-select:first-child {
  margin-bottom: 0;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 2px solid rgba(172, 172, 172, 0.4901960784);
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 10px;
}

.select {
  margin-bottom: 10px;
  border: 2px solid #e9f2ff;
  font-size: 16px;
  line-height: 1.3;
  border-radius: 5px;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.form-checkbox input {
  text-align: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form-info {
  margin-top: 10px;
  margin-bottom: 20px;
}

.policy-info p {
  font-size: 12px !important;
  opacity: 0.8;
}

.form-info p {
  text-align: center;
  font-size: 16px;
  color: #4b5563;
}

.form-info a {
  color: #136ef6;
  font-weight: 500;
  text-decoration: underline;
}

.form-auth {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.frdo-info {
  margin-top: -10px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  padding: 15px;
  font-size: 14px;
  overflow-x: auto;
  overflow: auto;
  margin-top: 20px;
}

.table th,
.table td {
  text-align: center;
  padding: 10px;
}

.table th {
  background-color: rgba(64, 85, 178, 0.7725490196);
  color: #fff;
}

.table th:nth-child(odd) {
  background-color: rgba(45, 69, 179, 0.7725490196);
}

.table tr {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table tr:hover {
  background-color: #ccc;
}

.table td:not(:last-child) {
  border-right: 1px solid rgba(204, 204, 204, 0.5764705882);
}

.td-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-btn {
  background-color: #4054b2;
  padding: 10px 12px;
  color: #fff !important;
  border-radius: 5px;
  font-weight: 400;
}

.red {
  color: #b24040 !important;
}

.green {
  color: #1a345c !important;
}

.report-table {
  display: none;
}

#cookie_notification {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 900px;
  max-width: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 25px;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_notification p {
  margin: 0;
  font-size: 0.7rem;
  text-align: left;
}

.cookie_info {
  background-color: #fff;
  color: #000 !important;
}

@media (min-width: 576px) {
  #cookie_notification.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cookie_accept {
    margin: 0 0 0 25px;
  }
}
@media (max-width: 575px) {
  #cookie_notification.show {
    display: block;
    text-align: left;
  }
  .cookie_accept {
    margin: 10px 0 0 0;
  }
}